[user]
    email = clint.ferrin@gmail.com

[core]
    excludesfile = ~/.gitignore

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    logg = log --graph --oneline --all --decorate
    type = cat-file -t
    dump = cat-file -p
